<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/header :: baseHead(~{::title})">
    <title>Admin page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <h1>Admin page</h1>
    </div>
    <div class="row justify-content-start">
        <p>
            <a href="/authenticated">Go back</a> to the authenticated user page.
        </p>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>