<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/header :: baseHead(~{::title})">
    <title>Admin page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>Admin page</h1>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-4">
            <form th:action="@{/listUsers}" method="get" class="form-horizontal" id="search-users-form">
                <button type="submit" class="btn btn-outline-info">List all users</button>
            </form>
            <table th:if="${usersFound != null}">
                <!--/*@thymesVar id="found" type="com.example.cloudwrite.model.security.User"*/-->
                <tr th:each="found: ${usersFound}">
                    <td class="px-3"><a role="button" class="btn btn-sm btn-outline-warning"
                                        th:href="@{/getUserDetails/{id}(id=${found.getId()})}"
                                        th:text="${'ID: ' + found.getId() + ' '}"></a></td>
                    <td class="px-3" th:text="${found.username}"></td>
                </tr>
            </table>
        </div>
        <!--/*@thymesVar id="chosenUser" type="com.example.cloudwrite.model.security.User"*/-->
        <div class="col-md-8" th:if="${chosenUser != null}">
            <form th:object="${chosenUser}"
                  th:action="@{/adminPage/{chosenID}/update(chosenID=${chosenUser.getId()})}" method="post">
                <div>
                    <label>Username: </label>
                    <input name="userName" type="text" th:field="*{username}"/>
                </div>
                <br>
                <div>
                    <label>Account is enabled (untick to disable): </label>
                    <input type="checkbox" th:field="*{enabled}" th:value="${chosenUser.enabled}"/>
                </div>
                <br>
                <div>
                    <button class="btn btn-warning" type="submit">Confirm</button>
                </div>
            </form>
                <hr />
                <p>
                    To reset the password, enter a suffix below so that the new password will temporarily be
                    'username+suffix'. The length of 'username+suffix' must be at least eight characters in length.
                    The user should change the password in their account as soon as possible.
                </p>
                <form th:object="${chosenUser}"
                      th:action="@{/adminPage/{chosenID}/reset(chosenID=${chosenUser.getId()})}" method="post">
                    <div>
                        <label>New password suffix: </label>
                        <input name="suffix" type="text"/>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-warning" type="submit">Reset password</button>
                    </div>
                </form>
                <!--/*@thymesVar id="reply" type="java.lang.String"*/-->
                <div th:object="${reply}" th:if="${reply != null}">
                    <p style="color: green" th:text="${reply}"></p>
                </div>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/userPage" class="btn btn-outline-primary">Edit account settings</a>
                <a href="/authenticated" class="btn btn-outline-secondary">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-info">Sign out</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>