<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/header :: baseHead(~{::title})">
    <title>Admin page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>Admin page</h1>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <form th:action="@{/CRUD}" method="get" class="form-horizontal" id="search-users-form">
                <button type="submit" class="btn btn-outline-info">List all users</button>
            </form>
            <table th:if="${usersFound != null}">
                <!--/*@thymesVar id="found" type="com.example.cloudwrite.model.security.User"*/-->
                <tr th:each="found: ${usersFound}">
                    <td th:text="${found.username}"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/userPage" class="btn btn-outline-primary">Edit account settings</a>
                <a href="/authenticated" class="btn btn-outline-secondary">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-info">Sign out</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>