<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Exposition</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="exposition" type="com.example.cloudwrite.model.ExpositionPiece"*/-->
<div class="container">
    <form th:object="${exposition}" th:action="@{/expositions/{id}/update(id=${exposition.id})}" method="post">
        <div class="row justify-content-start">
            <div class="col">
                <h1 th:text="${exposition.title}"></h1>
                <p th:text="${'Article started: ' + exposition.createdDate.toGMTString() + '. Article last updated: ' + exposition.lastModifiedDate.toGMTString()}"></p>
            </div>
            <br>
        </div>

        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Title:</b> </label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" th:field="*{title}"/>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Keyword:</b> </label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" th:field="*{keyword}"/>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst rationale:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows="2" th:field="*{standfirst.rationale}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst approach:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows="2" th:field="*{standfirst.approach}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Research question/purpose:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows="2" th:field="*{expositionPurpose}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Current status:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows="2" th:field="*{currentProgress}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Future work:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows="2" th:field="*{futureWork}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                <p>The latest confirmation date and time is provided above.</p>
                <button type="submit" class="btn btn-outline-primary">Update above fields</button>
            </div>
        </div>
    </form>
    <hr/>

    <!--/*@thymesVar id="result" type="com.example.cloudwrite.model.KeyResult"*/-->
    <form th:object="${results}" th:each="result: ${results}" th:action="@{/}" method="post">
        <span th:if="${results.isEmpty()}">
            <div class="row justify-content-start">
                <div class="col">
                    <p>No key results on file</p>
                </div>
            </div>
        </span>
        <span th:unless="${results.isEmpty()}">
            <div class="row justify-content-start">
                <div class="col">
                    <h3>Key results</h3>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-2">
                    <div>
                        <label><b>Result and priority</b></label>
                    </div>
                </div>
                <div class="col-9">
                    <textarea class="form-control" rows="3" th:text="${result.description}"></textarea>
                </div>
                <div class="col-1">
                    <input class="form-control" type="number" step="1" th:value="${result.getPriority()}"/>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col">
                    <button class="btn btn-outline-primary" type="submit">Update key results</button>
                    <a class="btn btn-outline-warning" type="button" th:href="@{/}">New result</a>
                </div>
            </div>
        </span>
    </form>
    <hr/>

    <span th:object="${references}">
        <span th:if="${references == null || references.isEmpty()}">
            <div class="row justify-content-start">
                <div class="col">
                    <h3>References</h3>
                    <p>No citations or references on file</p>
                </div>
            </div>
        </span>
        <span th:unless="${references == null || references.isEmpty()}">
                <!--/*@thymesVar id="reference" type="com.example.cloudwrite.model.Citation"*/-->
            <form th:each="reference: ${references}" th:action="@{/}" method="post">
                <div class="row justify-content-start">
                    <div class="col">
                        <h3>References</h3>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <textarea class="form-control" rows="1" th:text="${reference.ref}"></textarea>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <button class="btn btn-outline-primary" type="submit">Update references</button>
                        <a class="btn btn-outline-warning" type="button" th:href="@{/}">New reference</a>
                    </div>
                </div>
            </form>
        </span>
    </span>
    <hr/>

    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/authenticated" class="btn btn-outline-secondary">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-info">Sign out</a>
            </div>
        </div>
    </div>
</div>
<br>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>