<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>New exposition</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="exposition" type="com.example.cloudwrite.model.ExpositionPiece"*/-->
<div class="container">
    <form th:object="${exposition}" th:action="@{/expositions/new}" method="post">
        <div class="row justify-content-start">
            <div class="col">
                <h1>New exposition piece</h1>
            </div>
            <br>
        </div>

        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Title:</b> </label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control bg-light rounded" th:field="*{title}"/>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Keyword:</b> </label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control bg-light rounded" th:field="*{keyword}"/>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst rationale:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control bg-light rounded" rows="2" th:field="*{standfirst.rationale}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst approach:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control bg-light rounded" rows="2" th:field="*{standfirst.approach}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Purpose:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control bg-light rounded" rows="2" th:field="*{expositionPurpose}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Current status:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control bg-light rounded" rows="2" th:field="*{currentProgress}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Future work:</b> </label>
            </div>
            <div class="col-10">
                <textarea class="form-control bg-light rounded" rows="2" th:field="*{futureWork}"></textarea>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                <button class="btn btn-outline-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
    <hr/>

    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/authenticated" class="btn btn-outline-warning">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-danger">Sign out</a>
            </div>
        </div>
    </div>
</div>
<br>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>