<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Delete research piece</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="research" type="com.example.cloudwrite.model.ResearchPiece"*/-->
<div class="container">
    <form th:object="${research}" th:action="@{/research/{id}/delete(id=${research.id})}" method="post">
        <div class="row justify-content-start">
            <div class="col">
                <h1>Confirm deletion</h1>
                <p>Please confirm deletion of this research piece. This process cannot be reversed.</p>
            </div>
            <br>
        </div>

        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Title:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.title}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Keyword:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.keyword}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst rationale:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.standfirst.rationale}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Standfirst approach:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.standfirst.approach}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Purpose:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.getResearchPurpose}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Current status:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.currentProgress}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2">
                <label><b>Future work:</b> </label>
            </div>
            <div class="col-10">
                <label th:text="${research.futureWork}"></label>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                <button class="btn btn-danger" type="submit">Confirm</button>
            </div>
        </div>
    </form>
    <hr/>

    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a th:href="@{/research/{id}(id=${research.id})}" class="btn btn-outline-primary">Return to research details</a>
                <a href="/authenticated" class="btn btn-outline-warning">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-danger">Sign out</a>
            </div>
        </div>
    </div>
</div>
<br>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>