<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseHead(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.css"/>
    <link rel="stylesheet" href="/css/cloudWriteStyle.css">
    <title th:replace="${title}">Web-login Demo</title>
</head>

<body>
</body>
</html>