<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<div>
    <h1>Welcome on board</h1>
    <p sec:authorize="hasRole('ADMIN')">
        You are in the ADMIN group
    </p>
    <p sec:authorize="hasRole('USER')">
        You are in the USER group
    </p>

    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

    <a href="/adminPage" sec:authorize="hasRole('ADMIN')">Admin page</a>
    <a href="/logout">Sign out</a>
</div>

</body>
</html>