<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Authenticated user page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>Welcome on board</h1>
            <br>
            <p sec:authorize="hasRole('ADMIN')">
                You are in the ADMIN group
            </p>
            <p sec:authorize="hasRole('USER')">
                You are in the USER group
            </p>
            <br/>

            <p>
                Authenticated username: <span sec:authentication="name"></span>
            </p>
            <p>
                Authenticated user roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/adminPage" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Admin page</a>
                <a href="/userPage" class="btn btn-primary">User page</a>
                <a href="/logout" class="btn btn-primary">Sign out</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>