<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Authenticated user page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>Welcome to CloudWrite</h1>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <p>
                You are logged in with username: <b><span sec:authentication="name"></span></b>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/adminPage" class="btn btn-outline-primary" sec:authorize="hasRole('ADMIN')">Admin page</a>
                <a href="/userPage" class="btn btn-outline-secondary">Edit account settings</a>
                <a href="/logout" class="btn btn-outline-info">Sign out</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>