<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Login page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <h1>Login page</h1>
    </div>
    <br/>

    <div class="row justify-content-center">
        <p th:if="${loginError}" class="error" style="color: red">Wrong user or password</p>

        <form th:action="@{/login}" method="post">
                <div>
                    <td><label for="username">Username</label>:
                        <input type="text" id="username" name="username" autofocus="autofocus"/></td>
                </div>
                <br />
                <div>
                    <td><label for="password">Password</label>:
                        <input type="password" id="password" name="password"/></td>
                </div>
                <br />
                <div>
                    <td><label for="remember_me">Remember me</label>:
                        <input type="checkbox" id="remember_me" name="remember_me"></td>
                </div>
                <hr />
                <div>
                    <td><input type="submit" value="Log in"/></td>
                </div>
        </form>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>