<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>User page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>User page: <span sec:authentication="name"></span></h1>
        </div>
    </div>
    <br/>
    <div class="row justify-content-start">
        <div class="col-md-4">
            <p sec:authorize="hasRole('ADMIN')">
                You are in the ADMIN group
            </p>
            <p sec:authorize="hasRole('USER')">
                You are in the USER group
            </p>
            <br/>
            <p>
                You are granted the following user roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>

        <!--/*@thymesVar id="currentUser" type="com.example.cloudwrite.model.security.User"*/-->
        <div class="col-md-4" th:object="${currentUser}">
            <p>
                New passwords must be at least eight characters in length.
            </p>
            <form th:action="@{/userPage/{ID}/reset(ID=${currentUser.getId()})}" method="post">
                <div>
                    <label>New password: </label>
                    <input name="newPassword" type="password"/>
                </div>
                <br>
                <div>
                    <button class="btn btn-warning" type="submit">Change password</button>
                </div>
            </form>
            <!--/*@thymesVar id="reply" type="java.lang.String"*/-->
            <div th:object="${reply}" th:if="${reply != null}">
                <p style="color: green" th:text="${reply}"></p>
            </div>
        </div>
    </div>
    <hr />

    <div class="row justify-content-start">
        <div class="col">
            <div class="btn-group">
                <a href="/adminPage" class="btn btn-outline-primary" sec:authorize="hasRole('ADMIN')">Admin page</a>
                <a href="/authenticated" class="btn btn-outline-secondary">Return to welcome page</a>
                <a href="/logout" class="btn btn-outline-info">Sign out</a>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>