<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Welcome page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>CloudWrite</h1>
            <br>
            <div>
                <a href="/authenticated" class="btn btn-outline-primary">Access CloudWrite</a>
            </div>
            <hr />
            <div>
                <a href="http://localhost:5000/swagger-ui.html" target="_blank" class="btn btn-outline-warning">Access CloudWrite API</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>